name: Deploy client to CDN

on: 
  workflow_call:
    inputs:
      ref:
        description: Ref to check out correct code. Can be a tag (version number) or a commit hash.
        type: string
        required: true
      vercelToken:
        description: Vercel token.
        type: string
        required: true
      vercelOrgId:
        description: Vercel organisation ID.
        type: string
        required: true
      vercelProjectId:
        description: Vercel project ID.
        type: string
        required: true
      domains:
        description: Domains. Comma-separated, if multiple.
        type: string
        required: true

jobs:
  deploy-client:
    name: Deploy client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: joonashak/holenav
          ref: ${{ inputs.ref }}
      - name: Deploy client to Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ inputs.vercelToken }}
          vercel-org-id: ${{ inputs.vercelOrgId }}
          vercel-project-id: ${{ inputs.vercelProjectId }}
          alias-domains: ${{ inputs.domains }}
          working-directory: ./client
